Scenaries/organizar-entrega/ORGANIZAR ENTREGA.blueprint.json
{
    "name": "ORGANIZAR ENTREGA",
    "flow": [
        {
            "id": 2,
            "module": "scenario-service:StartSubscenario",
            "version": 2,
            "parameters": {},
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0,
                    "name": "RECIBIR PARAMETROS"
                },
                "restore": {},
                "interface": [
                    {
                        "help": "",
                        "name": "clave",
                        "type": "text",
                        "label": "",
                        "default": "",
                        "required": true,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "email",
                        "type": "text",
                        "label": "",
                        "default": "",
                        "required": true,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "usuarios",
                        "type": "text",
                        "label": "",
                        "default": "",
                        "required": true,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "phone_number",
                        "type": "text",
                        "label": "",
                        "default": "",
                        "required": true,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "reference",
                        "type": "text",
                        "label": "",
                        "default": "",
                        "required": true,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "start_date",
                        "type": "date",
                        "label": "",
                        "required": true
                    },
                    {
                        "help": "",
                        "name": "end_date",
                        "type": "date",
                        "label": "",
                        "required": true
                    },
                    {
                        "help": "",
                        "name": "cuenta_gpt",
                        "type": "text",
                        "label": "",
                        "default": "",
                        "required": true,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "tipo_gpt",
                        "type": "text",
                        "label": "",
                        "default": "",
                        "required": true,
                        "multiline": false
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": true,
                "useNewZLibDeCompress": true
            },
            "mapper": {
                "ca": "",
                "qs": [],
                "url": "https://luxisoft-default-rtdb.firebaseio.com/luxisoft/chatgpt/{{2.tipo_gpt}}/{{2.cuenta_gpt}}.json?auth=PKCc8Nzzo3j37QqpaAoFe6vk923bIqRzSxIP4SxM",
                "data": "{\r\n    \"clave\": \"{{2.clave}}\",\r\n    \"email\": \"{{2.email}}\",\r\n    \"usuarios\": \"{{sum(2.usuarios; 1)}}\",\r\n    \"estado\": \"{{if(2.usuarios >= 59; \"false\"; \"true\")}}\"\r\n}",
                "gzip": true,
                "method": "patch",
                "headers": [
                    {
                        "name": "Content-Type",
                        "value": "application/json"
                    }
                ],
                "timeout": "",
                "useMtls": false,
                "authPass": "",
                "authUser": "",
                "bodyType": "raw",
                "contentType": "application/json",
                "serializeUrl": false,
                "shareCookies": false,
                "parseResponse": true,
                "followRedirect": true,
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": true
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0,
                    "name": "ACTUALIZAR CUENTA"
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose"
                        },
                        "method": {
                            "mode": "chose",
                            "label": "PATCH"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "bodyType": {
                            "label": "Raw"
                        },
                        "contentType": {
                            "label": "JSON (application/json)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate"
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content type",
                        "validate": {
                            "enum": [
                                "text/plain",
                                "application/json",
                                "application/xml",
                                "text/xml",
                                "text/html",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Request content"
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "whatsapp-business-cloud:sendMessage",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 4290657
            },
            "mapper": {
                "to": "{{replace(2.phone_number; \"+\"; )}}",
                "text": {
                    "body": "Hemos recibido tu pago, muchas gracias por tu compra.\n\n Referencia de pago: {{2.reference}}\n Fecha de inicio: {{formatDate(2.start_date; \"YYYY-MM-DD HH:mm:ss\")}}\n Fecha de finalizaci贸n: {{formatDate(2.end_date; \"YYYY-MM-DD HH:mm:ss\")}}",
                    "preview_url": false
                },
                "type": "text",
                "fromId": "740483359139532"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0,
                    "name": "ENVIA INF. PAGO"
                },
                "restore": {
                    "expect": {
                        "text": {
                            "nested": {
                                "preview_url": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "type": {
                            "label": "Text"
                        },
                        "fromId": {
                            "mode": "chose",
                            "label": "LuxiSoft (+1 929-563-6472)"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "whatsapp-business-cloud2"
                            },
                            "label": "WhatsApp Business Cloud Connection (Admin)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:whatsapp-business-cloud2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "type": "hidden"
                    },
                    {
                        "name": "fromId",
                        "type": "select",
                        "label": "Sender ID",
                        "required": true
                    },
                    {
                        "name": "to",
                        "type": "text",
                        "label": "Receiver",
                        "required": true
                    },
                    {
                        "name": "type",
                        "type": "select",
                        "label": "Message Type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "text",
                                "image",
                                "audio",
                                "video",
                                "document",
                                "sticker",
                                "location",
                                "contacts",
                                "interactive"
                            ]
                        }
                    },
                    {
                        "name": "text",
                        "spec": [
                            {
                                "name": "body",
                                "type": "text",
                                "label": "Body",
                                "required": true,
                                "validate": {
                                    "max": 4096
                                }
                            },
                            {
                                "name": "preview_url",
                                "type": "boolean",
                                "label": "Preview URL",
                                "required": true
                            }
                        ],
                        "type": "collection",
                        "label": "Text"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "whatsapp-business-cloud:sendMessage",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 4290657
            },
            "mapper": {
                "to": "{{replace(2.phone_number; \"+\"; )}}",
                "text": {
                    "body": "Cuenta: {{2.email}}\nContrase帽a: {{2.clave}} ",
                    "preview_url": false
                },
                "type": "text",
                "fromId": "740483359139532"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0,
                    "name": "ENVIA CUENTA"
                },
                "restore": {
                    "expect": {
                        "text": {
                            "nested": {
                                "preview_url": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "type": {
                            "label": "Text"
                        },
                        "fromId": {
                            "mode": "chose",
                            "label": "LuxiSoft (+1 929-563-6472)"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "whatsapp-business-cloud2"
                            },
                            "label": "WhatsApp Business Cloud Connection (Admin)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:whatsapp-business-cloud2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "type": "hidden"
                    },
                    {
                        "name": "fromId",
                        "type": "select",
                        "label": "Sender ID",
                        "required": true
                    },
                    {
                        "name": "to",
                        "type": "text",
                        "label": "Receiver",
                        "required": true
                    },
                    {
                        "name": "type",
                        "type": "select",
                        "label": "Message Type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "text",
                                "image",
                                "audio",
                                "video",
                                "document",
                                "sticker",
                                "location",
                                "contacts",
                                "interactive"
                            ]
                        }
                    },
                    {
                        "name": "text",
                        "spec": [
                            {
                                "name": "body",
                                "type": "text",
                                "label": "Body",
                                "required": true,
                                "validate": {
                                    "max": 4096
                                }
                            },
                            {
                                "name": "preview_url",
                                "type": "boolean",
                                "label": "Preview URL",
                                "required": true
                            }
                        ],
                        "type": "collection",
                        "label": "Text"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "whatsapp-business-cloud:sendMessage",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 4290657
            },
            "mapper": {
                "to": "{{replace(2.phone_number; \"+\"; )}}",
                "text": {
                    "body": " Ingreso por navegador: https://auth.openai.com/log-in\n Descargar la app: https://play.google.com/store/apps/details?id=com.openai.chatgpt&hl=en\n\n Cada c贸digo generado tiene una duraci贸n de 30 segundos.\n锔 Solo se pueden generar m谩ximo 2 c贸digos por semana.\n\n Al ingresar, se te pedir谩 un c贸digo de verificaci贸n.\n锔 Escribe en este chat: \"Necesito el c贸digo\" para que podamos envi谩rtelo.",
                    "preview_url": false
                },
                "type": "text",
                "fromId": "740483359139532"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0,
                    "name": "ENVIA URLS"
                },
                "restore": {
                    "expect": {
                        "text": {
                            "nested": {
                                "preview_url": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "type": {
                            "label": "Text"
                        },
                        "fromId": {
                            "mode": "chose",
                            "label": "LuxiSoft (+1 929-563-6472)"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "whatsapp-business-cloud2"
                            },
                            "label": "WhatsApp Business Cloud Connection (Admin)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:whatsapp-business-cloud2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "type": "hidden"
                    },
                    {
                        "name": "fromId",
                        "type": "select",
                        "label": "Sender ID",
                        "required": true
                    },
                    {
                        "name": "to",
                        "type": "text",
                        "label": "Receiver",
                        "required": true
                    },
                    {
                        "name": "type",
                        "type": "select",
                        "label": "Message Type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "text",
                                "image",
                                "audio",
                                "video",
                                "document",
                                "sticker",
                                "location",
                                "contacts",
                                "interactive"
                            ]
                        }
                    },
                    {
                        "name": "text",
                        "spec": [
                            {
                                "name": "body",
                                "type": "text",
                                "label": "Body",
                                "required": true,
                                "validate": {
                                    "max": 4096
                                }
                            },
                            {
                                "name": "preview_url",
                                "type": "boolean",
                                "label": "Preview URL",
                                "required": true
                            }
                        ],
                        "type": "collection",
                        "label": "Text"
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "scenario-service:ReturnData",
            "version": 2,
            "parameters": {},
            "mapper": {
                "cuenta_suscripcion": "{{2.cuenta_gpt}}"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0,
                    "name": "RETORNAR CUENTA"
                },
                "restore": {},
                "expect": [
                    {
                        "name": "cuenta_suscripcion",
                        "type": "text",
                        "label": "",
                        "required": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    },
    "io": {
        "input_spec": [
            {
                "help": "",
                "name": "clave",
                "type": "text",
                "label": "",
                "default": "",
                "required": true,
                "multiline": false
            },
            {
                "help": "",
                "name": "email",
                "type": "text",
                "label": "",
                "default": "",
                "required": true,
                "multiline": false
            },
            {
                "help": "",
                "name": "usuarios",
                "type": "text",
                "label": "",
                "default": "",
                "required": true,
                "multiline": false
            },
            {
                "help": "",
                "name": "phone_number",
                "type": "text",
                "label": "",
                "default": "",
                "required": true,
                "multiline": false
            },
            {
                "help": "",
                "name": "reference",
                "type": "text",
                "label": "",
                "default": "",
                "required": true,
                "multiline": false
            },
            {
                "help": "",
                "name": "start_date",
                "type": "date",
                "label": "",
                "required": true
            },
            {
                "help": "",
                "name": "end_date",
                "type": "date",
                "label": "",
                "required": true
            },
            {
                "help": "",
                "name": "cuenta_gpt",
                "type": "text",
                "label": "",
                "default": "",
                "required": true,
                "multiline": false
            },
            {
                "help": "",
                "name": "tipo_gpt",
                "type": "text",
                "label": "",
                "default": "",
                "required": true,
                "multiline": false
            }
        ],
        "output_spec": [
            {
                "help": "",
                "name": "cuenta_suscripcion",
                "type": "text",
                "label": "",
                "default": "cuenta_a",
                "required": true,
                "multiline": false
            }
        ]
    }
}