Scenaries/mensaje-temporal/MENSAJE TEMPORAL.blueprint.json
{
    "name": "MENSAJE TEMPORAL",
    "flow": [
        {
            "id": 1,
            "module": "scenario-service:StartSubscenario",
            "version": 2,
            "parameters": {},
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0,
                    "name": "RECIBIR PARAMETROS"
                },
                "restore": {},
                "interface": [
                    {
                        "help": "",
                        "name": "id",
                        "type": "number",
                        "label": "",
                        "default": null,
                        "required": true
                    },
                    {
                        "help": "",
                        "name": "messages",
                        "type": "text",
                        "label": "",
                        "default": "",
                        "required": true,
                        "multiline": false
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "datastore:GetRecord",
            "version": 1,
            "parameters": {
                "datastore": 36975
            },
            "mapper": {
                "key": "{{1.id}}",
                "returnWrapped": false
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0,
                    "name": "TRAER MENSAJES"
                },
                "restore": {
                    "parameters": {
                        "datastore": {
                            "label": "MENSAJES TEMPORALES"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "datastore",
                        "type": "datastore",
                        "label": "Data store",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "key",
                        "type": "text",
                        "label": "Key",
                        "required": true
                    },
                    {
                        "name": "returnWrapped",
                        "type": "boolean",
                        "label": "Return Wrapped Output",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "help": "",
                        "name": "mensaje",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "datastore:AddRecord",
            "version": 1,
            "parameters": {
                "datastore": 36975
            },
            "mapper": {
                "key": "{{1.id}}",
                "data": {
                    "mensaje": "{{if(2.mensaje != null; 2.mensaje + \",\" + 1.messages; 1.messages)}}"
                },
                "overwrite": true
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0,
                    "name": "ALMACENAR MENSAJES"
                },
                "restore": {
                    "expect": {
                        "overwrite": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "datastore": {
                            "label": "MENSAJES TEMPORALES"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "datastore",
                        "type": "datastore",
                        "label": "Data store",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "key",
                        "type": "text",
                        "label": "Key"
                    },
                    {
                        "name": "overwrite",
                        "type": "boolean",
                        "label": "Overwrite an existing record",
                        "required": true
                    },
                    {
                        "name": "data",
                        "spec": [
                            {
                                "name": "mensaje",
                                "type": "text",
                                "label": null
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    },
    "io": {
        "input_spec": [
            {
                "help": "",
                "name": "id",
                "type": "number",
                "label": "",
                "default": null,
                "required": true
            },
            {
                "help": "",
                "name": "messages",
                "type": "text",
                "label": "",
                "default": "",
                "required": true,
                "multiline": false
            }
        ],
        "output_spec": []
    }
}